/* Whole document: */
body{
  font-size: 12pt;
}
/* Headers */
/*h1,h2,h3,h4,h5,h6{
  font-size: 16pt;
}*/

/* images */
/*img.border {
    border: solid 2px #f1f1f1;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
    display: block !important;
}*/
